<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED"/>
    <queries>
        <package android:name="com.brave.browser"/>
        <package android:name="com.android.chrome"/>
        <package android:name="org.mozilla.firefox"/>
        <package android:name="com.instagram.android"/>
        <package android:name="com.zhiliaoapp.musically"/>
        <package android:name="org.telegram.messenger"/>
        <package android:name="com.twitter.android"/>
        <package android:name="com.snapchat.android"/>
        <package android:name="com.google.android.youtube"/>
        <package android:name="com.netflix.mediaclient"/>
        <package android:name="com.amazon.avod.thirdpartyclient"/>
        <package android:name="com.king.candycrushsaga"/>
        <package android:name="com.supercell.clashofclans"/>
        <package android:name="com.microsoft.emmx"/>
        <package android:name="com.sec.android.app.sbrowser"/>
        <package android:name="com.sec.android.app.sbrowser.beta"/>
        <package android:name="com.opera.browser"/>
        <package android:name="com.opera.browser.beta"/>
        <package android:name="com.opera.mini.native"/>
        <package android:name="com.opera.mini.native.beta"/>
        <package android:name="com.duckduckgo.mobile.android"/>
        <package android:name="com.vivaldi.browser"/>
        <package android:name="org.torproject.torbrowser"/>
        <package android:name="org.torproject.torbrowser_alpha"/>
        <package android:name="com.UCMobile.intl"/>
        <package android:name="com.uc.browser.en"/>
        <package android:name="mobi.mgeek.TunnyBrowser"/>
        <package android:name="com.yandex.browser"/>
        <package android:name="com.mi.globalbrowser"/>
        <package android:name="com.android.browser"/>
        <package android:name="org.adblockplus.browser"/>
        <package android:name="com.ghostery.android.ghostery"/>
        <package android:name="com.chrome.beta"/>
        <package android:name="com.chrome.dev"/>
        <package android:name="com.chrome.canary"/>
        <package android:name="com.brave.browser_beta"/>
        <package android:name="com.brave.browser_nightly"/>
        <package android:name="org.mozilla.firefox_beta"/>
        <package android:name="org.mozilla.fenix"/>
        <package android:name="org.mozilla.focus"/>
        <package android:name="org.mozilla.focus.beta"/>
        <package android:name="org.mozilla.focus.nightly"/>
        <package android:name="org.mozilla.fennec_fdroid"/>
    </queries>
    <application android:allowBackup="false" android:label="@string/app_name" android:theme="@style/AppTheme" android:icon="@drawable/ic_shield" android:usesCleartextTraffic="false" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Active consented VPNs qualify for systemExempted without alarm permissions:
             https://developer.android.com/develop/background-work/services/fgs/service-types#system-exempted
             BrowserDnsService establishes the VPN before calling startForeground.
             AGP 8.7 lint does not model this runtime VPN eligibility. -->
        <service android:name=".BrowserDnsService" android:permission="android.permission.BIND_VPN_SERVICE" android:exported="true" android:foregroundServiceType="systemExempted" tools:ignore="ForegroundServicePermission">
            <intent-filter><action android:name="android.net.VpnService"/></intent-filter>
            <meta-data android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON" android:value="true"/>
        </service>
        <service android:name=".BlockAccessibilityService" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:exported="true" android:label="@string/accessibility_name">
            <intent-filter><action android:name="android.accessibilityservice.AccessibilityService"/></intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service"/>
        </service>
    </application>
</manifest>
